<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vote</title>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>
     

    <nav>
            <a href="#">QUYẾT ĐÊ</a>
            <a href="/ask">hỏi nhanh</a>
            <a href="/">đáp gọn</a>
    </nav>
     <h2 style="text-align: center">Question</h2>
     <h3 id="yes" ></h3>
     <h3 id="no" ></h3>
    <script>
        // var url= window.location.href;
        
        //  var questionid=url.substring(27)
        $.ajax({
            url:"/vote",
            type :"put",
            data:{
                id:questionid
            },
            success:function(data){
                $('h2').text(data.content);
                let yes= Number(data.yes);
                let no = Number(data.no);
                let sum = yes+no
                let yesnumber= parseFloat((yes/sum)*100).toFixed(1);
                let nonumber = parseFloat(100-yesnumber).toFixed(1)
                $("#yes").text("yes : " + yesnumber+"%")
                $("#no").text("no : " +nonumber+"%")
             


            }
        })            
    </script>
           
</body>
</html>